@model List<DetailShop.Models.DbModels.Component>

<h1 >Комплектующие</h1>
<table>
    <tbody>
        @foreach (var Component in Model)
        {
            <tr>
                <td>@Component.Name</td>
                <td>@Component.Description</td>
                <td>@Component.Cost</td>
                <td>@Component.Specifications</td>
                <td><button class="btn btn-primary">В корзину</button></td>
            </tr>
        }
    </tbody>
</table>
