@model List<DetailShop.Models.DbModels.Discounts>
<h1>На сайте присутствуют скидки</h1>
@foreach (var discounts in @Model)
{
    <div class="divBlock">
        <div class="wrapper">
            <div class="content">
                <p>При покупках на сумму: <strong>@discounts.Total</strong></p>
                <p>Скидка: <strong>@discounts.Discount % </strong></p>
            </div>
        </div>
    </div>
}

