<main class="content">
    <h1>DetailShop</h1>
    <section class="divContent">
        <h2>Новости</h2>
        <p>Будьте в курсе всех последних событий и новостей в мире деталей и технологий. Узнавайте первыми о новых тенденциях и разработках.</p>
    </section>

    <section class="divContent">
        <h2>Лучшие предложения</h2>
        <p>Воспользуйтесь нашими лучшими предложениями и акциями. Получите высококачественные детали по выгодным ценам и экономьте свои деньги.</p>
    </section>

    <section class="divContent">
        <h2>Популярные товары</h2>
        <p>Изучите список наших самых популярных товаров. Эти товары пользуются большим спросом у наших клиентов благодаря своему качеству и надежности.</p>
    </section>

    <section class="divContent">
        <h2>О нас</h2>
        <p>Мы - ваш надежный партнер в мире деталей. Наш магазин предлагает широкий ассортимент высококачественных деталей по выгодным ценам. Наша цель - обеспечить вас лучшими товарами и первоклассным обслуживанием.</p>
    </section>
</main>
