@model List<DetailShop.Models.DbModels.Provider>

<h1>C нами сотрудничают такие бренды как</h1>
@foreach (var provider in @Model)
{
    <div class="divBlock">
        <p>@provider.Title</p>
        <img style="width:200px; height:150px; border-radius:10px" src="~/images/ProviderImages/@(provider.Title.Replace(" ", "")).jpg" alt="@provider.Title" />
        <p>@provider.Information</p>
    </div>
}