@model List<DetailShop.Models.DbModels.Provider>

<h1>C нами сотрудничают такие бренды как</h1>
@foreach (var provider in @Model)
{
    <div class="divBlock">
        <p style="font-size:18pt; font-weight:bold;">@provider.Title</p>
        <img src="~/images/ProviderImages/@(provider.Title.Replace(" ", "")).jpg" alt="@provider.Title" />
        <p>@provider.Information</p>
    </div>
}