
@{
    var listMenu = new DetailShop.Models.Menu.ListMenu();
}
<footer>
    <div>
        <nav>
            <ul>
                @foreach (var item in listMenu.FooterMenu)
                {
                    <li class="footerli"><button class="btn btn-primary"><a class="aClass" href="@Url.Action(item.Action, item.Controller)">@item.Label</a></button></li>
                }
            </ul>
        </nav>
    </div>
</footer>

