@using DetailShop
@{
    var listMenu = new DetailShop.Models.Menu.ListMenu();
}
<header>
    <div class="divHeader">
        <nav>
            <ul>
                @foreach (var item in listMenu.HeaderMenu)
                {
                    <li class="headerli"><button class="btn btn-primary"><a class="aClass" href="@Url.Action(item.Action, item.Controller)">@item.Label</a></button></li>
                }
            </ul>
        </nav>
    </div>
</header>