<!DOCTYPE html>
<html>
<head>
    <title>DetailShop</title>
    <link href="~/Style/Styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    @await Html.PartialAsync("Header")
    @RenderBody()
    @await Html.PartialAsync("Footer")
    @RenderSection("Scripts", required: false)
    @RenderSection("Script", required: false)
</body>
</html>