@using DetailShop.Models.DbModels
@model Account



<main>
@using (Html.BeginForm("Registration", "Authentication", FormMethod.Post))
{
    <h1 class="loginregH1">Регистрация</h1>
    <div>
        <label>Логин</label>
        @Html.TextBoxFor(model => model.Login)
    </div>
    <div>
        <label>Пароль</label>
        @Html.TextBoxFor(model => model.Password)
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    <button type="submit" class="btn btn-primary">Регистрация</button>

}
</main>
