.headerli {
    font-family: "PT Sans", sans-serif;
    font-size: 12pt;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    display: inline;
    margin-left: 90px;
    padding: 10px;
}

.footerli {
    font-family: "PT Sans", sans-serif;
    font-size: 12pt;
    color: #222121;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    display: inline;
    margin-left: 130px;
    padding: 10px;
}

.aClass {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-inline-start: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.divHeader {
    background-color: transparent;
    padding: 10px;
    background: white;
}

footer {
    background-color: transparent;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #f7f7f7;
    padding: 10px;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    flex: 1;
}

p {
    margin-left: 10px;
    color: black;
    font-family: "PT Sans", sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14pt;
}

tbody {
    background: ghostwhite;
    font-family: "PT Sans", sans-serif;
    background: #F5F5DC;
}

.divContainer {
    border: solid black 3px;
}

.divBlock {
    border: solid darkblue 3px;
    border-radius: 10px;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    background: white;
}

h1 {
    margin-left: 50px;
    color: black;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
}

.TextClass {
    margin: 40px;
    color: black;
    font-family: "PT Sans", sans-serif;
    border: 3px solid darkred;
    border-radius: 15px;
    padding: 10px;
}

table {
    width: 90%;
    margin-left:50px;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 12pt;
}

thead th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: ghostwhite;
}

tbody tr:hover {
    background-color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 250px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
}

form {
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%);
    width: 80%;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid darkblue;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: "PT Sans", sans-serif;
    font-weight:600;
}

input[type="text"],
input[type="password"] {
    max-width: 580px;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: "PT Sans", sans-serif;
}

.alert {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.btn {
    background-color: #000;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.btn-primary {
    background-color: #fff;
    color: #000;
}

.btn:hover {
    background-color: #333;
}

.btn-primary:hover {
    background-color: #999;
}

.btn:hover,
.btn-primary:hover {
    transform: scale(1.05);
}

.form-inline .btn {
    margin-left: 10px;
}
.loginregH1 {
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-size: 20pt;
    font-weight: 400;
    margin-right: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
}

h1 {
    margin-left: 50px;
    color: black;
    font-family: "PT Sans", sans-serif;
    font-weight: 300;
}