<main>
    <div class="about-section">
        <div>
            <h2>Наша миссия</h2>
            <p>Мы стремимся быть ведущим поставщиком деталей высокого качества для наших клиентов. Наша миссия - предоставить широкий ассортимент товаров и услуг по выгодным ценам, а также обеспечить высокий уровень сервиса для удовлетворения потребностей наших клиентов. Мы гордимся нашей репутацией и делаем все возможное, чтобы заслужить доверие наших клиентов и стать их долгосрочным партнером в бизнесе.</p>
        </div>
    </div>

    <div class="team-section">
        <h2>Наша команда</h2>
        <div class="team-member">
            <h3>Иван Иванов</h3>
            <p>Генеральный директор</p>
        </div>
        <div class="team-member">
            <h3>Анна Сидорова</h3>
            <p>Менеджер по продажам</p>
        </div>
        <div class="team-member">
            <h3>Петр Петров</h3>
            <p>Специалист по клиентскому обслуживанию</p>
        </div>
    </div>
</main>
