﻿
@model List<DetailShop.Models.DbModels.Orders>

<main>
    <h2 style="text-align:center;">Ваша корзина</h2>
    <ul>
        @foreach (var order in Model)
        {
            <div class="containermanufacture">
                <div class="manufacturer-card">
                    <p>Номер заказа: @order.ID_Order</p>
                    <p>Цена: @order.Result</p>
                </div>
            </div>
        }
    </ul>
</main>