@model List<DetailShop.Models.DbModels.Order_Item>;

<h2>Корзина</h2>

@if (Model == null || Model.Count == 0)
{
    <p>Корзина пуста</p>
}
else
{
    <table>
        <tr>
            <th>ID компонента</th>
            <th>Количество</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID_Component</td>
                <td>@item.Quanity</td>
            </tr>
        }
    </table>
}
