@model List<DetailShop.Models.DbModels.Reviews>
<h1 style="margin: 10px">Пользователи</h1>
@foreach (var reviews in @Model)
{
    <div class="divBlock">
        <p>Пользователь № @reviews.ID_User</p>
        <p>Комментарий: @reviews.Comment </p>
        <p>Оценка: @reviews.Rating</p>
    </div>
}

