@model List<DetailShop.Models.DbModels.Reviews>
<h1>Отзывы</h1>

@foreach (var review in Model)
{
    <div class="divBlock">
        <p>Пользователь № @review.ID_Account</p>
        <p>Комплектующее: @review.ID_Component</p>
        <p>Комментарий: <i style="font-weight:600">@review.Comment</i></p>
        <p>Оценка: <strong>@review.Rating</strong></p>
    </div>
}



