@model List<DetailShop.Models.DbModels.Reviews>
<h1>Отзывы</h1>
@foreach (var reviews in @Model)
{
    <div class="divBlock">
        <p>Пользователь № @reviews.ID_Account</p>
        <p>Комментарий: <i style="font-weight:600">@reviews.Comment</i></p>
        <p>Оценка: <strong>@reviews.Rating</strong></p>
    </div>
}

