@model List<DetailShop.Models.DbModels.User>
<h1 style="margin: 10px">Пользователи</h1>
@foreach (var users in @Model)
{
    <div class="divBlock">
        <p>Имя: @users.Name</p>
        <p>Email: @users.Email %</p>
    </div>
}

